<!-- Search form -->
<div class="container">
    <div class="row">
        <form #userForm="ngForm" class="form-inline d-flex justify-content-center md-form form-sm active-pink active-pink-2 mt-2">
            <div class="col-md-10 form-group">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-100" type="text" placeholder="Search" aria-label="Search" id="username" [(ngModel)]="username" name="username" (keyup)="getUserProfile()">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-danger">Search</button>
            </div>
        </form>
    </div>
</div><br><br><br>


<!-- <app-github [user] = 'user' [repo] = 'repo'></app-github> -->
<div class="container">
    <div class="card" style="width: 18rem;" *ngIf='user'>
        <div>
            <img class="card-img-top" src="{{user.avatar_url}}" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{user.login}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>

